[package]
name = "poseidon-permutation"
version = "0.1.1"
edition = "2018"
authors = ["Penumbra <crates@penumbra.zone>", "redshiftzero <jen@penumbra.zone>"]
description = "An instantiation of the Poseidon permutation"
license = "MIT OR Apache-2.0"

[dependencies]
ark-ff = { version = "0.3", default-features = false }
ark-std = { version = "^0.3.0", default-features = false }
poseidon-parameters = { path = "../poseidon-parameters" }

[dev-dependencies]
ark-ed-on-bls12-377 = "0.3"
num-bigint = "0.4"
ark-sponge = { version="0.3", git = "https://github.com/penumbra-zone/sponge", branch = "r1cs" }
criterion = { version = "0.3", features=["html_reports"] }
once_cell = "1.8"
proptest = "1"
rand_core = { version = "0.6.3", features = ["getrandom"] }
rand_chacha = "0.3"

[features]
default = ["std"]
std = [
    "once_cell/std",
    "ark-ff/std",
    "ark-std/std",
]
