[package]
name = "poseidon-parameters"
version = "0.2.0"
edition = "2018"
authors = []
description = "A crate for Poseidon parameters"
license = "MIT OR Apache-2.0"
keywords = ["no_std"]
repository = "https://github.com/penumbra-zone/poseidon377"

[dependencies]
anyhow = { version = "1", default-features = false }
ark-ff = { version = "^0.4.0", default-features = false }
num-integer = { version = "0.1.45", default-features = false }

[dev-dependencies]
ark-ed-on-bls12-377 = "0.4"
proptest = "1"

[features]
std = [
    "anyhow/std",
    "ark-ff/std",
    "num-integer/std",
]
